body {
    margin: 0;
    padding: 0;

    ul {
        list-style-type: none;
    }
}

header {
    margin-bottom: 5px;
    .googleImg {
        display: flex;
        justify-content: center;
        margin-top: 90px;
    }

    .searchContainer {
        display: flex;
        justify-content: center;
        background: #EEEEEE;

        .title {
            display: flex;
            justify-content: center;
            margin-bottom: -10px;
        }

        .searchText {
            display: flex;
            justify-content: center;
            margin-bottom: 10px;

            .text {
                border: 2px solid black;
                box-shadow: 10px 0px 10px 0px;
                width: 50%;
            }
        }

        .searchButtons {
            display: flex;
            justify-content: center;
            gap: 20px;
            margin-bottom: 20px;

            .googleSearch {
                width: 24%;
            }

            .thirdSearch {
                width: 24%;
            }
        }
    }
}

footer {
    .firstCol {
        background: #7EE5DA;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .secondCol {
        background: #7EE5DA;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .thirdCol {
        background: #7EE5DA;
        p{
            text-align: center;
        }
    }
    .copyright{
        margin-top: 20px;
        p{
            text-align: center;
        }
    }
}